/DossierFinalEnterpriseApplication/nbproject/private/
/DossierFinalEnterpriseApplication/EJB2-ejb/nbproject/private/
/LibraryEJB2/nbproject/private/
/ApplicationClient/nbproject/private/
/EARApplicationFinale/nbproject/private/
/EARApplicationFinale/EARApplicationFinale-ejb/nbproject/private/
/JavaLibraryEJB2/nbproject/private/
/ApplicationClient/build/
/ApplicationClient/dist/
/JavaLibraryEJB2/dist/
/JavaLibraryEJB2/build/
/EARApplicationFinale/build/
/EARApplicationFinale/dist/
/EARApplicationFinale/EARApplicationFinale-ejb/dist/
/EARApplicationFinale/EARApplicationFinale-ejb/build/